<div class="container">
  <h1 class="titulo">
    Titulo
   </h1>

   <div class="row" style="background-color: skyblue;">
    FILA
    <div class="col-sm-12" style="background-color: tomato;">
    columna 12 
    </div>
    <div class="col-sm-6" style="background-color:violet;">
      columna 6
      </div>
      <div class="col-sm-6" style="background-color: goldenrod;">
        columna 6
        </div>
        <div class="col-sm-4" style="background-color:hotpink ;">
          columna 4
        </div>
        <div class="col-sm-4" style="background-color:yellowgreen ;">
          columna 4
        </div>
        <div class="col-sm-4" style="background-color:crimson;">
          columna 4
        </div>
        
   </div>
</div>
<div>

</div>
<h1>
  Directivas
</h1>
<h2>angular => ngIf</h2>

<button type="button" class="btn btn-outline-success" (click)="eventoClick()">Success</button>
<p *ngIf="esconderHola" >Hola</p>
<h2>angular => ngfor</h2>
{{arregloNumeros}}
<li *ngFor="let numero of arregloNumeros">
  <ul>{{numero.nombre}}</ul>

</li>

