<h1>TITULO</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<img src="https://www.google.com/url?sa=i&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwjR6_W9nbXpAhVEhuAKHdipAl8QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fscalpingweb%2F5191405893&psig=AOvVaw0WoLo5PbgR3fLBxV3_KGWm&ust=1589610168396535"
 wigth="400px"
 height="400px"
  alt="">
<p>Listas no ordenadas etiquetas ul</p>
<ul>
    <li>Opcion</li>
    <li>Opcion</li>  
</ul>
<p>Listas ordenadas etiquetas ol</p>
<ol>
    <li>Opcion</li>
    <li>Opcion</li>  
</ol>
<app-mi-primer-componente

[titulo]="tituloPadre"
[nombreBoton]="nombreBotonPadre"
[imagenPath]="imagenPadre"

>
</app-mi-primer-componente>



