<p>perfil-usuario works!</p>
<div class="container">
    <div class="row" style="margin-bottom: 2rem; margin-top: 6rem;">
        <div class="col-sm-4">
    
        </div>
        <div class="col-sm-4">
          <img src="https://www.google.com/url?sa=i&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwjihvafwtDpAhVQdt8KHeE9Cx0QjRx6BAgBEAQ&url=https%3A%2F%2Fpostgrado.ucbcba.edu.bo%2Findex.php%2Fprograma%2Fdoctorado-en-comunicacion-e-informacion%2F&psig=AOvVaw0a8uUcKagFZUm_iHrkUaAB&ust=1590547750012148"
            width="310" height="310" class="responsive" />
        </div>
        <div class="col-sm-4">
    
        </div>
      </div>

<div class="row">
    <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
 <button  type="button"  class="ui-button-rounded ui-button-success">
     boton
 </button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

    

